{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Start Hero Section -->
<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>About Us</h1>
                    <p class="mb-4">Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique.</p>
                    <p><a href="{% url 'shop' %}" class="btn btn-secondary me-2">Shop Now</a><a href="{% url 'shop' %}" class="btn btn-white-outline">Explore</a></p>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="hero-img-wrap">
                    <img src="{% static 'images/couch.png' %}" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Hero Section -->

<!-- Start Why Choose Us Section -->
<div class="why-choose-section">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-6">
                <h2 class="section-title">Why Choose Us</h2>
                <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique.</p>

                <div class="row my-5">
                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="{% static 'images/truck.svg' %}" alt="Image" class="imf-fluid">
                            </div>
                            <h3>Fast &amp; Free Shipping</h3>
                            <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
                        </div>
                    </div>

                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="{% static 'images/bag.svg' %}" alt="Image" class="imf-fluid">
                            </div>
                            <h3>Easy to Shop</h3>
                            <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
                        </div>
                    </div>

                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="{%static 'images/support.svg' %}" alt="Image" class="imf-fluid">
                            </div>
                            <h3>24/7 Support</h3>
                            <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
                        </div>
                    </div>

                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="{%static 'images/return.svg' %}" alt="Image" class="imf-fluid">
                            </div>
                            <h3>Hassle Free Returns</h3>
                            <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-5">
                <div class="img-wrap">
                    <img src="{% static 'images/why-choose-us-img.jpg' %}" alt="Image" class="img-fluid">
                </div>
            </div>

        </div>
    </div>
</div>
<!-- End Why Choose Us Section -->

<!-- Start Team Section -->
<div class="untree_co-section">
    <div class="container">

        <div class="row mb-5">
            <div class="col-lg-5 mx-auto text-center">
                <h2 class="section-title">Our Team</h2>
            </div>
        </div>

        <div class="row">

            <!-- Start Column 1 -->
            <div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0">
                <img src="{% static 'images/person_1.jpg' %}" class="img-fluid mb-5">
                <h3 clas><a href="#"><span class="">Lawson</span> Arnold</a></h3>
                <span class="d-block position mb-4">CEO, Founder, Atty.</span>
                <p>Separated they live in.
                Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                <p class="mb-0"><a href="#" class="more dark">Learn More <span class="icon-arrow_forward"></span></a></p>
            </div> 
            <!-- End Column 1 -->

            <!-- Start Column 2 -->
            <div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0">
                <img src="{% static 'images/person_2.jpg' %}" class="img-fluid mb-5">

                <h3>
                    <a href="#">
                        <span class="">Jeremy</span> Walker
                    </a>
                </h3>
                <span class="d-block position mb-4">CEO, Founder, Atty.</span>
                <p>Jeremy Walker is an accomplished CEO and founder with over 20 years of experience in the legal and business sectors.</p>
                <p class="mb-0">
                    <a class="more dark"
                        data-bs-toggle="modal"
                        data-bs-target="#modal2"
                        href="#"
                    >Learn More <span class="icon-arrow_forward"></span>
                    </a>
                </p>
            </div>
            <!-- End Column 2 -->

            <!-- Modal 2 -->
            <div id="modal2" class="modal fade">
                <div class="modal-dialog modal-lg mt-5">
                    <div class="modal-content p-5">
                        <div class="row">
                            <!-- First col -->
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="mb-4">
                                        <div class="image-container">
                                            <img src="{% static 'images/person_2.jpg' %}" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                    <div>
                                        <h3>About</h3>
                                        <p>Jeremy Walker began his career as a corporate lawyer before transitioning into entrepreneurship. His innovative thinking and leadership skills have led to the creation of multiple successful ventures in the tech and legal industries.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- // First col -->

                            <!-- Second col -->
                            <div class="col-md-6">
                                <div>
                                    <h3>Professional Achievements</h3>
                                    <p>Jeremy has been recognized as a top innovator in his field, receiving numerous awards for his contributions to business and technology. His companies have been featured in leading industry publications for their groundbreaking work.</p>
                                </div>

                                <div>
                                    <h3>Philanthropy</h3>
                                    <p>Aside from his professional achievements, Jeremy is also dedicated to giving back to the community. He actively supports various charitable organizations and has established scholarships for underprivileged students.</p>
                                </div>

                                <div>
                                    <h3>Contact</h3>
                                    <div class="d-flex justify-content-center gap-2">
                                        <a href="#">
                                            <i class="fab fa-facebook fa-3x"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fab fa-twitter fa-3x"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fab fa-instagram fa-3x"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fab fa-linkedin fa-3x"></i>
                                        </a>
                                    </div>
                                </div>

                                <button 
                                    href="#" 
                                    class="btn btn-light mt-3"
                                    data-bs-dismiss="modal"
                                >
                                    Close
                                </button>
                            </div>
                            <!-- // Second col -->
                        </div>
                        <!-- // row -->
                    </div>
                </div>
            </div>

            <!-- Start Column 3 -->
            <div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0">
                <img src="{% static 'images/person_3.jpg' %}" class="img-fluid mb-5">
                <h3 clas><a href="#"><span class="">Patrik</span> White</a></h3>
                    <span class="d-block position mb-4">CEO, Founder, Atty.</span>
                    <p>Separated they live in.
                    Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    <p class="mb-0"><a href="#" class="more dark">Learn More <span class="icon-arrow_forward"></span></a></p>
            </div> 
            <!-- End Column 3 -->

            <!-- Start Column 4 -->
            <div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0">
                <img src="{% static 'images/person_4.jpg' %}" class="img-fluid mb-5">

                <h3 clas><a href="#"><span class="">Kathryn</span> Ryan</a></h3>
                <span class="d-block position mb-4">CEO, Founder, Atty.</span>
                <p>Separated they live in.
                Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                <p class="mb-0"><a href="#" class="more dark">Learn More <span class="icon-arrow_forward"></span></a></p>

  
            </div> 
            <!-- End Column 4 -->
        </div>
    </div>
</div>
<!-- End Team Section -->

<!-- Start Testimonial Slider -->
<div class="testimonial-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="testimonial-slider-wrap text-center">

                    <div id="testimonial-nav">
                        <span class="prev" data-controls="prev"><span class="fa fa-chevron-left"></span></span>
                        <span class="next" data-controls="next"><span class="fa fa-chevron-right"></span></span>
                    </div>

                    <div class="testimonial-slider">

                        {% for testimonial in testimonials %}
                        
                        
                        <div class="item">
                            <h3 class="text-dark mb-0">{{testimonial.title}}</h3>
                            <div class="row justify-content-center">
                                <div class="col-lg-8 mx-auto">

                                    <div class="testimonial-block text-center">
                                        <blockquote class="mb-5">
                                            <p>&ldquo;
                                                {{ testimonial.content }}
                                            &rdquo;</p>
                                        </blockquote>

                                        <div class="author-info">
                                            <div class="author-pic">
                                                <img src="{% static 'images/person-1.png' %}" alt="Maria Jones" class="img-fluid">
                                            </div>
                                            <h3 class="font-weight-bold">{{testimonial.user.first_name}}</h3>
                                            <span class="position d-block mb-3">CEO, Co-Founder, XYZ Inc.</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div> 

                        {% endfor %}
                        <!-- END item -->

                        
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Testimonial Slider -->

<section class="testimonials-comment">
    <div class="container">
        <div class="row mb-3">
            <div class="col-md-8 offset-md-2">
                {% include 'includes/alerts.html' %}
                <form action="{% url 'testimonial' %}" method="POST">
                    {% csrf_token %}

                    <div class="d-flex flex-column gap-2">
                        <div class="text-center">
                            <h2 class="text-dark">Leave comments</h2>
                        </div>
                        
                        <input name="title" type="text" class="form-control" placeholder="Title">
                        <textarea name="content" rows="4" class="form-control" placeholder="Your comment..."></textarea>
                        {% if user.is_authenticated %}
                            <button class="btn btn-primary" type="submit">
                                Comment
                            </button>
                        {% else %}
                            <div class="d-flex align-items-center justify-content-center gap-1 my-3">
                                <p class="mb-0">
                                    Please login to post a comment. 
                                    <span>
                                        <a href="{% url 'signin' %}">
                                            <h6 class="mb-0"> Sign in</h6>
                                        </a>
                                    </span>
                                </p>
                            </div>
                        {% endif %}
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>


{% endblock %}