{% extends 'base.html' %}
{% load static %}

{% block content %}


<!-- ========================= SECTION CONTENT ========================= -->
<section class="dashboard">
    <div class="container">
        
        <div class="row mt-4">
            {% include 'includes/alerts.html' %}

            <h3 class="text-center fw-bold text-dark mb-3">Change password</h3>

            <div class="col-md-3 d-flex flex-column">
                
                {% include 'includes/dashboard_sidebar.html' %}
                <div>
                    <ul class="list-group my-4">
                        <li class="list-group-item poition-relative text-center">
                            <i class="fa fa-power-off"></i>
                            <a href="{% url 'signout' %}" class="stretched-link">Log out</a>
                        </li>
                      </ul>
                </div>   
            </div>

            <div class="col-md-9 mb-3">
                <div class="card">
                    <div class="card-header">
                      <span class="text-dark"><b>Change password</b></span>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <form action="{% url 'changepassword' %}" method="POST">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="form-group">
                                        <div class="row p-3 gap-1">
                                            <div class="col-md-12">
                                                <label class="text-dark">Current password</label>
                                                <input type="password" name="current_password" placeholder="Enter password" class="form-control" required>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="text-dark">New password</label>
                                                <input type="password" name="new_password" class="form-control" placeholder="New password" required>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="text-dark">Confirm password</label>
                                                <input type="password" name="confirm_password" class="form-control" placeholder="Confirm password" required>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <button class="btn btn-primary w-50" type="submit">
                                            Change
                                        </button>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- ========================= SECTION CONTENT // ========================= -->


{% endblock %}