{% extends 'base.html' %}
{% load static %}

{% block content %}


<!-- ========================= SECTION CONTENT ========================= -->
<section class="dashboard">
    <div class="container">
        
        <div class="row mt-4">
            {% include 'includes/alerts.html' %}

            <h3 class="text-center fw-bold text-dark mb-3">My orders</h3>

            <div class="col-md-3 d-flex flex-column">
                
                {% include 'includes/dashboard_sidebar.html' %}
                <div>
                    <ul class="list-group my-4">
                        <li class="list-group-item poition-relative text-center">
                            <i class="fa fa-power-off"></i>
                            <a href="{% url 'signout' %}" class="stretched-link">Log out</a>
                        </li>
                      </ul>
                </div>   
            </div>

            <div class="col-md-9 mb-3">
                <div class="card">
                    <div class="card-header text-center">
                      <span class="text-dark "><b>Your order history</b>
                    </div>
                    
                    {% if not order_exist %}

                    <div class="card-body">
                        <div class="row d-flex flex-column text-center">
                            <p>You have not purchased any prodyct yet</p>
                            <span>
                                <a 
                                href="{% url 'shop' %}"
                                class="btn btn-secondary w-25"
                                >
                            Shop now
                            </a>
                            </span>
                        </div>
                    </div>

                    {% else %}
                    <table class="table mb-0 table-hover">
                        <tbody>
                            <tr>
                                <th>#Order</th>
                                <td>Name</td>
                                <td>Phone</td>
                                <td>Total</td>
                                <td>Date</td>
                            </tr>
                            {% for order in orders %}
                            <tr class="no-border">
                                <th class="position-relative">
                                    <a href="{% url 'order_detail' order.order_number %}" class="stretched-link">
                                        #{{order.order_number}}
                                    </a>
                                </th>
                                <td>{{ order.first_name }}</td>
                                <td>{{ order.phone }}</td>
                                <td>${{ order.order_total }}</td>
                                <td>{{ order.created_at }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
</section>
<!-- ========================= SECTION CONTENT // ========================= -->


{% endblock %}