<section class="container">
  <div class="chat-icon" id="chat-icon">
    <div class="position-fixed bottom-0 end-0 me-4 mb-3 z-5">
      <a id="chatToggleIcon">
        <i class="fas fa-comment fa-2x text-white shake chat-toggle"></i>
      </a>
    </div>
  </div>
</section>

<div
  class="card rounded-3 position-fixed bottom-0 end-0 me-4 mb-2 botbox z-5"
  id="chat"
>
  <div class="card-body">
    <div class="card-title d-flex justify-content-between">
      <div class="d-flex align-items-center">
        <div>
          <p class="mb-0">Welcome to <b>FurniAssistant</b></p>
        </div>
      </div>
      <div>
        <a href="#" style="text-decoration: none" id="closeChat">
          <span class="fs-3">&times;</span>
        </a>
      </div>
    </div>

    <hr />

    <div class="d-flex flex-column">
      <div class="row message-container gap-1 mb-3">
        <div class="col-12 text-start d-flex gap-1 mt-2">
          <div>
            <i class="fa-solid fa-robot fa-1x text-primary"></i>
          </div>

          <div class="receiver card p-2 ms-end border-0">

            {% if request.user.is_authenticated %}
              <span class="mb-0 lh-1">
                Hello <b>{{user.first_name}}</b>, how can I help you to day?
              </span>
            {% else %}
              <span class="mb-0 lh-1">
                Hello, how can I help you to day?
              </span>
            {% endif %}
              
            
          </div>
        </div>

        <div class="col-12 d-flex justify-content-end">
          <div class="sender card p-2 border-0">
            <span class="mb-0">
              It kicks off at 8 PM. Can't wait to see you there!
            </span>
          </div>
        </div>

        <div class="col-12 text-start d-flex gap-1">
          <div>
            <i class="fa-solid fa-robot fa-1x text-primary"></i>
          </div>

          <div class="receiver card p-2 ms-end border-0">
            <span class="mb-0"> Absolutely! </span>
          </div>
        </div>

        <div class="col-12 text-start d-flex gap-1">
          <div>
            <i class="fa-solid fa-robot fa-1x text-primary"></i>
          </div>

          <div class="receiver card p-2 ms-end border-0">
            <span class="mb-0">
              Absolutely! I wouldn't miss it for the world. What time does
              it start?
            </span>
          </div>
        </div>

        <div class="col-12 d-flex justify-content-end mb-3">
          <div class="sender card p-2 border-0">
            <span class="mb-0">
              It kicks off at 8 PM. Can't wait to see you there!
            </span>
          </div>
        </div>

        <div class="col-12 text-start d-flex gap-1">
          <div>
            <i class="fa-solid fa-robot fa-1x text-primary"></i>
          </div>

          <div class="receiver card p-2 ms-end border-0">
            <span class="mb-0">
              Absolutely! I wouldn't miss it for the world. What time does
              it start?
            </span>
          </div>
        </div>

        <div class="col-12 d-flex justify-content-end mb-3">
          <div class="sender card p-2 border-0">
            <span class="mb-0">
              It kicks off at 8 PM. Can't wait to see you there!
            </span>
          </div>
        </div>
      </div>

      <hr class="mt-0" />
      <div class="">
        <form action="#">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="Your message..."
            />

            <button
              href="#"
              class="input-group-text bg-white"
              type="submit"
            >
              <i class="fa fa-paper-plane text-muted"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
