{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Start Hero Section -->
<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>Product detail</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Hero Section -->


<section class="section-content padding-y bg mb-5">
    <!-- <div class="row">	 -->
        
        <!-- ============================ COMPONENT 1 ================================= -->
        <div class="card">
            <div class="container">
                <div class="row py-4">
                    <div class="col-md-6">
                        <div class="gallery-wrap"> 
                            <div class="img-big-wrap">
                                <a href="#"><img src="{{single_product.images.url}}"></a>
                            </div> <!-- img-big-wrap.// -->
                        </div> <!-- gallery-wrap .end// -->
                    </div>
                    <div class="col-md-6">
                        <div class="product-info">
                            <h2 class="title">{{single_product.product_name}}</h2>
                            
                            <div class="d-flex gap-3">
                                <div class="rating-star mb-3">
                                    <i class="fa fa-star{% if single_product.average_review == 0.5 %}-half-o{% elif single_product.average_review < 1%}-o {%endif%}"></i>
                                    <i class="fa fa-star{% if single_product.average_review == 1.5 %}-half-o{% elif single_product.average_review < 2%}-o {%endif%}"></i>
                                    <i class="fa fa-star{% if single_product.average_review == 2.5 %}-half-o{% elif single_product.average_review < 3%}-o {%endif%}"></i>
                                    <i class="fa fa-star{% if single_product.average_review == 3.5 %}-half-o{% elif single_product.average_review < 4%}-o {%endif%}"></i>
                                    <i class="fa fa-star{% if single_product.average_review == 4.5 %}-half-o{% elif single_product.average_review < 5%}-o {%endif%}"></i>
                                </div> 
                                {% if single_product.review_count > 1 %}
                                    {{single_product.review_count}} reviews
                                {% else %}
                                    {{single_product.review_count}} review
                                {% endif %}
                            </div>
                            </div>
                            
                            <div class="mb-3"> 
                                <var class="price h4">${{single_product.price}}</var> 
                            </div> 
                            <p>
                                {{single_product.description}}
                            </p>
                            <hr>
                            <div class="row">
                                <div class="item-option-select">
                                    <h6>Choose Color</h6>
                                    <select name="color" class="form-control" style="width: 30%;">
                                        <option value="" selected> Select </option>
                                        <option value=""> blabla  </option>
                                    </select>
                                </div>
                            </div> <!-- row.// -->
                            <div class="row">
                                <div class="item-option-select">
                                    <h6 class="mt-3">Select Size</h6>
                                    <select name="size" class="form-control" style="width: 30%;">
                                        <option value="" disabled selected> Select </option>
                                        <option value="">89 </option>
                                    </select>
                                </div>
                            </div> <!-- row.// -->
                            
                            <hr>
                            {% if single_product.stock <= 0 %}

                            <h4 class='text-danger'>Out of stock </h4>

                            {% else %}

                                {% if in_cart %}
                                <button class="btn btn-secondary"> 
                                    <span class="text">Added to Cart</span> 
                                    <i class="fas fa-check"></i>  
                                </button>
                                <a href="{% url 'cart' %}" class="btn btn-primary"> 
                                    <span class="text">View Cart</span> 
                                    <i class="fas fa-eye"></i>  
                                </a>
                                {% else %}
                                <a href="{% url 'add_cart' single_product.id %}" class="btn btn-primary"> 
                                    <span class="text">Add to Cart</span> 
                                    <i class="fas fa-shopping-cart"></i>  
                                </a>
                                {% endif %}
                            {% endif %}
                        </div> <!-- product-info-aside .// -->
                    </div>
                </div> <!-- row.// -->
            </div> <!-- container.// -->
            
        </div> <!-- card.// -->

        <br>

        <!-- Reviews -->
        <!-- <div class="card mt-3"> -->
            <div class="container">
                <div class="col-lg-8 pl-6">
                    <article class="">
                        <div class="icontext w-100">

                            <form action="{% url 'submitreview' single_product.id %}" method="POST">
                                {%csrf_token%}
                                <h2 class="mt-4">Write your review</h2>
                                
                                <div>
                                    <label class="text-dark fw-bold">How do you write this product?</label>
                                    <br>
                                    <div class="rate">
                                        <input type="radio" name="rating" id="rating10" value="5" required>
                                        <label for="rating10" title="5"></label>

                                        <input type="radio" name="rating" id="rating9" value="4.5" required>
                                        <label for="rating9" title="4.5" class="half"></label>

                                        <input type="radio" name="rating" id="rating8" value="4" required>
                                        <label for="rating8" title="4"></label>

                                        <input type="radio" name="rating" id="rating7" value="3.5" required>
                                        <label for="rating7" title="3.5" class="half"></label>

                                        <input type="radio" name="rating" id="rating6" value="3" required>
                                        <label for="rating6" title="3"></label>

                                        <input type="radio" name="rating" id="rating5" value="2.5" required>
                                        <label for="rating5" title="2.5" class="half"></label>

                                        <input type="radio" name="rating" id="rating4" value="2" required>
                                        <label for="rating4" title="2"></label>

                                        <input type="radio" name="rating" id="rating3" value="1.5" required>
                                        <label for="rating3" title="1.5" class="half"></label>

                                        <input type="radio" name="rating" id="rating2" value="1" required>
                                        <label for="rating2" title="1"></label>

                                        <input type="radio" name="rating" id="rating1" value="0.5" required>
                                        <label for="rating1" title="0.5" class="half"></label>
                                    </div>
                                    <br>
                                    Review title:
                                    <input type="text" name="subject" class="form-control">
                                    Review
                                    <textarea name="review" id="" rows="4" class="form-control"></textarea>

                                    {% if user.is_authenticated %}
                                        {% if order_product %}
                                        <button class="btn btn-primary w-100 my-2" type="submit">Submit</button>
                                        {% else %}
                                        <h5 class="mt-2">You must purchase to post a review. <a href="{% url 'shop' %}" class="btn btn-outline-primary">Shop now</a></h5>
                                        {% endif %}
                                    {%else%}
                                    <h5 class="mt-2">Please sign in order to post a review. <a href="{% url 'signin' %}">Sign In</a></h5>
                                    {% endif %}

                                    <!-- Success message -->
                                     {% include 'includes/alerts.html' %}
                                </div>
                            </form>
                            
                                {% if review_count > 0 %}
                                <header class="mt-2">
                                    <h3 class="mb-0"> Customer Reviews </h3> 
                                    <div class="d-flex gap-3">
                                        <div class="rating-star mb-3">
                                            <i class="fa fa-star{% if single_product.average_review == 0.5 %}-half-o{% elif single_product.average_review < 1%}-o {%endif%}"></i>
                                            <i class="fa fa-star{% if single_product.average_review == 1.5 %}-half-o{% elif single_product.average_review < 2%}-o {%endif%}"></i>
                                            <i class="fa fa-star{% if single_product.average_review == 2.5 %}-half-o{% elif single_product.average_review < 3%}-o {%endif%}"></i>
                                            <i class="fa fa-star{% if single_product.average_review == 3.5 %}-half-o{% elif single_product.average_review < 4%}-o {%endif%}"></i>
                                            <i class="fa fa-star{% if single_product.average_review == 4.5 %}-half-o{% elif single_product.average_review < 5%}-o {%endif%}"></i>
                                        </div> 
                                        {% if single_product.review_count > 1 %}
                                            {{single_product.review_count}} reviews
                                        {% else %}
                                            {{single_product.review_count}} review
                                        {% endif %}
                                    </div>
                                </header>

                                {% else %}
                                <header class="mt-2">
                                    <h5 class="text-center"> Not review for this product yet. </h5>  
                                </header>
                                {% endif %}

                                {% for review in reviews %}
                                <div class="card rounded-4 p-4 mb-3">
                                    <div class="d-flex flex-column">
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex gap-3 align-items-center">
                                                <img src="#" class="img-xs icon rounded-circle" alt="profile-pic">
                                                <h6 class="mb-0 text-dark">{{review.user.full_name}} </h6>
                                            </div>
                                            <span class="date text-muted float-md-right">{{review.created_date}}</span>  
                                        </div>
                                        <div class="rating-star">
                                            <i class="fa fa-star{% if review.rating == 0.5 %}-half-o{% elif review.rating < 1%}-o {%endif%}"></i>
                                            <i class="fa fa-star{% if review.rating == 1.5 %}-half-o{% elif review.rating < 2%}-o {%endif%}"></i>
                                            <i class="fa fa-star{% if review.rating == 2.5 %}-half-o{% elif review.rating < 3%}-o {%endif%}"></i>
                                            <i class="fa fa-star{% if review.rating == 3.5 %}-half-o{% elif review.rating < 4%}-o {%endif%}"></i>
                                            <i class="fa fa-star{% if review.rating == 4.5 %}-half-o{% elif review.rating < 5%}-o {%endif%}"></i>
                                        </div>
                                    </div>

                                    <div class="mt-3">
                                        <p class="mb-0">
                                            {{review.review}}
                                        </p>	
                                    </div>
                                </div>
                                {% endfor %}
                            
                            
                    </article>
                </div> <!-- col.// -->
            </div> <!-- row.// -->
        <!-- </div> -->
    </div> <!-- card.// -->
        <!-- ============================ COMPONENT 1 END .// ================================= -->

    </div> <!-- container .//  -->
</section>
        <!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}