{% extends 'base.html' %}

{% load static %}

{% block contenct %}

<!-- Start Hero Section -->
<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>Our products</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Hero Section -->



<div class="untree_co-section product-section before-footer-section">
<div class="container">
      <div class="row">

          <!-- Start Column -->
        {% for product in products %}
        <div class="col-12 col-md-4 col-lg-3 mb-5">
            <a class="product-item" href="{{ product.get_url }}">
                <img src="{{ product.images.url }}" class="img-fluid product-thumbnail">
                <h3 class="product-title">{{ product.product_name }}</h3>
                <strong class="product-price">${{ product.price }}</strong>
                
                <span class="icon-cross">
                    <img src="{% static 'images/cross.svg' %}" class="img-fluid">
                </span>
            </a>
        </div> 
        {% endfor %}
        <!-- End Column -->
            
      </div>

      <div class="row">
        {% if products.has_other_pages %}
            <div class="col-12">
                <nav class="mt-4" aria-label="Page navigation sample">
                    <ul class="pagination justify-content-center">
                        <!-- previous page -->
                        {% if products.has_previous %}
                            <li class="page-itemy"><a class="page-link round" href="?page={{ products.previous_page_number }}">&#8249;</a></li>
                            {% else %}
                            <li class="page-item disabled"><a class="page-link" href="#">&#8249;</a></li>
                        {% endif %}
                        <!-- previous page // -->
                        
                        <!-- Paginator -->
                        {% for p in products.paginator.page_range %}
                            {% if products.number == p %}
                            <li class="btn-primary active"><a class="page-link" href="#">{{ p }}</a></li>
                            {% else %}
                            <li class="btn-primary active"><a class="page-link" href="?page={{p}}">{{ p }}</a></li>
                            {% endif %}
                        {% endfor %}

                        <!-- Paginator // -->


                        <!-- Next page -->
                        {% if products.has_next %}
                        <li class="page-item"><a class="page-link" href="">&#8250;</a></li>
                        {% else %}
                        <li class="page-item disabled "><a class="page-link" href="">&#8250;</a></li>
                        {% endif %}
                        <!-- Next page // -->

                    </ul>
                </nav>
            </div>
        {% endif %}
        </div>
      
</div>
    
</div>

{% endblock %}